<section class="contact-us" id="resetPassword">
<div class="col-lg-12">
  <div class="sidebar-item contact-form">
    <div class="sidebar-heading">
      <h2>Reset password</h2>
    </div>
    <div class="content">

      <form  action="" method="post" #resetPass="ngForm" (ngSubmit)="resetPassword(resetPass)">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <fieldset>
              <p>New password will be sent to this email address.</p>
              <input name="email" type="text" id="email" placeholder="Email" ngModel required>
            </fieldset>

          </div>
          <div class="col-lg-12">
            <fieldset>
              <button type="submit" id="form-submit" class="main-button">Reset Password</button>
            </fieldset>
          </div>
          <div class="col-lg-6 errors" *ngIf="errors != undefined">
            <p>{{errors.error}}</p>
          </div>
          <div  *ngIf="success != undefined">
            <p>{{success.message}}</p>
          </div>
        </div>
        <div id="goBackBtn">
          <a routerLink="/login">Go back to login</a>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
