<div class="col-lg-12" *ngIf="reviews$ | async as reviews">
  <table class="blueTable profileTable"  *ngIf="dataSet">
    <tr [@fadeIn] *ngFor="let review of reviews |paginate:{itemsPerPage: itemPerPage, currentPage: page, totalItems:total}">
      <td>
        <div>
          <a routerLink="/movie/{{review.movie_property.movie_id}}"><img src="{{review.movie_property.imageLoc}}" alt=""/></a>
          <p class="titleP">{{review.text}}</p>
          <img class="reviewStar" *ngFor="let number of [1,2,3,4,5]" src="assets/images/{{getStar(number,review.score)}}" alt="">
          <br/><p>{{review.created_at | date:"dd-MMM-YYY"}}</p>
          <p *ngIf="id==authUserId" class="icon">
            <i class="fa-solid fa-pen-to-square"></i>
            <i (click)="removeReview(review.movie_property.movie_id)" class="fa-solid fa-trash-can"></i></p>
        </div>
      </td>
    </tr>
  </table>
  <div *ngIf="reviews.length<1">
    <h4 class="txt">This user has not reviewed any movies</h4>
  </div>
</div>

 <pagination-template *ngIf="itemPerPage<total" #p="paginationApi" (pageChange)="getPage($event)">
   <div class="col-lg-12">
     <ul class="page-numbers">
       <li  *ngFor="let pageN of p.pages" [class.current]="p.getCurrent() === pageN.value">
         <a (click)="p.setCurrent(pageN.value)" *ngIf="p.getCurrent() !== pageN.value">{{ pageN.label }}</a>
         <div class="activePg"*ngIf="p.getCurrent() === pageN.value">
           <a >{{ pageN.label }}</a>
         </div>
       </li>
     </ul>
   </div>
 </pagination-template>
