<h2>Edit</h2>
<form>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label >MovieId:</label>
      <select class="form-control">
        <option value="cat1">Cat1</option>
        <option value="cat1">Cat1</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group col-md-5">
      <label for="duration">Duration:</label>
      <input type="number" class="form-control" id="duration" placeholder="Duration">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="date">Release Date:</label>
      <input type="date" class="form-control" id="date" >
    </div>
    <div class="form-group col-md-10">
      <label>Categories:</label>
      <div class="form-row">
        <input type="text" class="form-control"  placeholder="Category">
        <input *ngIf="addMoreCounter>0" type="text" class="form-control"  placeholder="Category">
        <input *ngIf="addMoreCounter>1" type="text" class="form-control"  placeholder="Category">
        <button *ngIf="addMoreCounter<2" type="button" class="btn" id="add cat" (click)="addCat()">+Add more</button>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Summary:</label>
      <textarea type="textarea" rows="2" class="form-control col-md-10"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-10">
      <label for="videoUrl">Change video url:</label>
      <input type="text" class="form-control" id="videoUrl" placeholder="videUrl">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-23">
      <label for="editImage">Change image:</label>
      <input type="file" class="form-control-file" id="editImage">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-danger">Cancel</button>
</form>
